@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
}
.main-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px;
}
.main-title{
    font-size: 65px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 20px 0;
}
.main-description{
    color: rgb(0, 162, 255);
    width: 50%;
    font-family: 'Poppins', sans-serif;
    padding: 20px 0;
}
.main-rectangle{
    width: 200px;
    height: 100px;
    background-color: rgb(226, 171, 19);
    padding: 20px 0;
}